<div class="row">
    <div class="col-8 mx-auto">
        <form *ngIf="!success && auth.getUser()==null" (ngSubmit)="register(email.value, password.value)">
        <label class="col-12">Login:
            <input id="email"class="form-control" type="text" name="email" #email></label>
        <label class="col-12">Hasło:
            <input id="password"class="form-control" type="password" name="password" #password></label>
        <div style="text-align:center" class="form-group mx-auto">
            <button class="col-6 btn btn-primary" type="submit">Zarejestruj</button>
        </div>
        </form>
    </div>
</div>

<div *ngIf="this.message.length > 0">
    <div class="alert " [class.alert-danger]="!success" [class.alert-success]="success" role="alert">
        {{message}}
    </div>
</div>
