<div [ngClass]="{'even_el':isEven, 'odd_el':!isEven}" style = "margin: 10px" class = "card card-block col-md-8 col-lg-7 mx-auto">
    <div style = "margin: 10px 0" class = "row">
        <div class = "col-2">
            <img style = "max-width: 100px;" class = "img-fluid" src = "{{course.pictureUrl}}" alt = "obrazek">
        </div>
        <div class = "col-6" style = "padding-left: 45px;">
            <h5 style = "display: inline-block" class = "card-title">{{course.name}}</h5><br>
        </div>
        <div class = "offset-2">
            <a style = "margin: auto 10px auto auto" class = "btn btn-light" [routerLink]="['/admin', course.id]">Edytuj</a>
        </div>
    </div>
    <div style = "margin: 10px 0" class = "row">
        <div class = "col-8">
            <div style = "margin-left: 5px;" class = "card-title"><span>Ocena: </span>{{course.ratingSum/course.ratedEmails.length | number: '.2-2'}}
            <br><span>Ilość ocen: </span>{{course.ratedEmails.length}}</div>
        </div>
    </div>
</div>

