<form [formGroup]="modelForm" (ngSubmit)="createCourse(modelForm)">
    <div class = "from-group">
        <label class = "col-12">Nazwa kursu:
        <input class="form-control" style = "margin-top: 5px;" formControlName="courseName" #courseName>
        <span style = "margin-left: 5px;" *ngIf="formErrors.courseName" class="alert alert-danger">{{ formErrors.courseName }}</span></label>
    </div>

    <div class = "from-group">
        <label class = "col-12">Ilość ECTS:
        <input class="form-control" formControlName="courseEcts" #courseEcts>
        <span style = "margin-left: 5px;" *ngIf="formErrors.courseEcts" class="alert alert-danger">{{ formErrors.courseEcts }}</span></label>
    </div>

    <div class = "from-group">
        <label class = "col-12">Semestr:
        <input class="form-control" formControlName="courseTerm" #courseTerm>
        <span style = "margin-left: 5px;" *ngIf="formErrors.courseTerm" class="alert alert-danger">{{ formErrors.courseTerm }}</span></label>
    </div>

    <div class = "from-group">
        <label class = "col-12">Ilość miejsc:
        <input class="form-control" formControlName="courseCapacity" #courseCapacity>
        <span style = "margin-left: 5px;" *ngIf="formErrors.courseCapacity" class="alert alert-danger">{{ formErrors.courseCapacity }}</span></label>
    </div>

    <div class = "from-group">
        <div style="text-align:center" for="formType">Typ kursu:</div>
        <div class="row">
            <div class="mx-auto">
                <div class="form-check form-check-inline"><input class="form-check-input" formControlName="courseType" #courseType type="radio" value="lecture" checked>Wykład</div>
                <div class="form-check form-check-inline"><input class="form-check-input" formControlName="courseType" #courseType type="radio" value="lab"> Lab</div>
                <div class="form-check form-check-inline"><input class="form-check-input" formControlName="courseType" #courseType type="radio" value="project"> Projekt</div>
                <div class="form-check form-check-inline"><input class="form-check-input" formControlName="courseType" #courseType type="radio" value="classes"> Ćwiczenia</div>
            </div>
        </div>
    </div>

    <div class = "from-group">
        <label class = "col-12">Link do zdjęcia kursu:
        <input class="form-control" formControlName="coursePictureUrl" #coursePictureUrl>
        <span style = "margin-left: 5px;" *ngIf="formErrors.coursePictureUrl" class="alert alert-danger">{{ formErrors.coursePictureUrl }}</span></label>
    </div>
    <div style="text-align:center" class="form-group mx-auto">
        <button  class = "btn btn-primary" type = "submit" [disabled]="!modelForm.valid">Dodaj</button>
    </div>
</form>
